services:
	moduleManager:
		setup:
			- addModule(Crm\MobiletechModule\MobiletechModule())
	gatewayFactory:
		setup:
			- registerGateway(mobiletech, Crm\MobiletechModule\Gateways\Mobiletech)

	mobiletechApiClient: Crm\MobiletechModule\Models\MockApiClient
	mobiletechDeliveryStatus: Crm\MobiletechModule\Models\DeliveryStatus

	# Authentication
	- Crm\MobiletechModule\Authenticator\MobiletechAuthenticator

	# API
	- Crm\MobiletechModule\Api\MobiletechWebhookApiHandler
	- Crm\MobiletechModule\Api\MobiletechServerProxyApiHandler

	# Commands
	- Crm\MobiletechModule\Commands\TestNotificationCommand

	# Events
	- Crm\MobiletechModule\Events\NotificationHandler
	- Crm\MobiletechModule\Events\ConfirmPaymentHandler

	# Gateways
	- Crm\MobiletechModule\Gateways\Mobiletech

	# Data providers
	- Crm\MobiletechModule\DataProvider\SubscriptionTypeFormProvider

	# Hermes
	- Crm\MobiletechModule\Hermes\SendHandler
	mobiletechTestInboundHandler: Crm\MobiletechModule\Hermes\TestInboundHandler

	# Repositories
	mobiletechPhoneNumbersRepository: Crm\MobiletechModule\Repository\MobiletechPhoneNumbersRepository
	mobiletechInboundMessagesRepository: Crm\MobiletechModule\Repository\MobiletechInboundMessagesRepository
	mobiletechOutboundMessagesRepository: Crm\MobiletechModule\Repository\MobiletechOutboundMessagesRepository
	mobiletechTemplatesRepository: Crm\MobiletechModule\Repository\MobiletechTemplatesRepository

	# Seeders
	- Crm\MobiletechModule\Seeders\ConfigsSeeder
	- Crm\MobiletechModule\Seeders\PaymentGatewaysSeeder
