services:
	moduleManager:
		setup:
			- addModule(Crm\MobiletechModule\MobiletechModule(), 1900)
	gatewayFactory:
		setup:
			- registerGateway(mobiletech, Crm\MobiletechModule\Gateways\Mobiletech)
			- registerGateway(mobiletech_recurrent, Crm\MobiletechModule\Gateways\MobiletechRecurrent)

	mobiletechApiClient: Crm\MobiletechModule\Models\MockApiClient
	mobiletechDeliveryStatus: Crm\MobiletechModule\Models\DeliveryStatus
	mobiletechOperatorTypeResolver: Crm\MobiletechModule\Models\OperatorTypeResolver
	mobiletechSubscriptionTypeShortName: Crm\MobiletechModule\Models\SubscriptionTypeShortName

	# Authentication
	- Crm\MobiletechModule\Authenticator\MobiletechAuthenticator

	# API
	- Crm\MobiletechModule\Api\MobiletechWebhookApiHandler
	- Crm\MobiletechModule\Api\MobiletechServerProxyApiHandler

	# Commands
	- Crm\MobiletechModule\Commands\TestNotificationCommand

	# Events
	- Crm\MobiletechModule\Events\NotificationHandler
	- Crm\MobiletechModule\Events\ConfirmPaymentHandler

	# Gateways
	- Crm\MobiletechModule\Gateways\Mobiletech
	- Crm\MobiletechModule\Gateways\MobiletechRecurrent

	# Data providers
	- Crm\MobiletechModule\DataProvider\SubscriptionTypeFormProvider

	# Hermes
	- Crm\MobiletechModule\Hermes\SendHandler
	- Crm\MobiletechModule\Hermes\UserConfirmationInboundHandler
	mobiletechTestInboundHandler: Crm\MobiletechModule\Hermes\TestInboundHandler
	- Crm\MobiletechModule\Hermes\PendingChargeTimeoutHandler

	# Repositories
	mobiletechPhoneNumbersRepository: Crm\MobiletechModule\Repository\MobiletechPhoneNumbersRepository
	mobiletechInboundMessagesRepository: Crm\MobiletechModule\Repository\MobiletechInboundMessagesRepository
	mobiletechOutboundMessagesRepository: Crm\MobiletechModule\Repository\MobiletechOutboundMessagesRepository
	mobiletechTemplatesRepository: Crm\MobiletechModule\Repository\MobiletechTemplatesRepository

	# Seeders
	- Crm\MobiletechModule\Seeders\ConfigsSeeder
	- Crm\MobiletechModule\Seeders\PaymentGatewaysSeeder
