config:
    mobiletech_gateway_url_production:
        name: "Mobiletech URL sms brány (produkčná)"
        description: "URL spracúvajúca odoslané správy (napr. <code>http://127.0.0.1:1234/</code>)"
    mobiletech_gateway_url_test:
        name: "Mobiletech URL sms brány (testovacia)"
        description: "URL spracúvajúca <strong>testovacie</strong> správy odoslané na internú <code>MobiletechServerProxy</code> (napr. <code>http://127.0.0.1:1234/</code>)"