config:
	mobiletech_gateway_url_production:
		name: "Mobiletech SMS gateway URL (production)"
		description: "URL processing sent messages (e.g. <code>http://127.0.0.1:1234/</code>)"
	mobiletech_gateway_url_test:
		name: "Mobiletech SMS gateway URL (test)"
		description: "URL processing sent <strong>testing</strong> messages routed via internal <code>MobiletechServerProxy</code> (e.g. <code>http://127.0.0.1:1234/</code>)"
	mobiletech_billkey_free:
		name: "Billing key for free messages"
		description: "Billing key used for sending user notifications and any other free messages (e.g. <code>AZ19</code>)"
dataprovider:
	short_name:
		label: Short name
		placeholder: 'for example "Month print"'
		description: 'Short name (max. 40 characters) of subscription to be sent via SMS, without diacritics. If not specified, User label will be used instead.'
		error_diacritics: 'Short name cannot contain diacritics'
